<ng-container *ngIf="pokemonDetails$ | async as pokemonDetails">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ pokemonDetails.name | titlecase }}</mat-card-title>
    </mat-card-header>

    <img [src]="pokemonDetails.sprites.front_default" alt="{{ pokemonDetails.name }}" />

    <mat-card-content>
      <div class="section">
        <div class="section-title">Types</div>
        <span *ngFor="let type of pokemonDetails.types" class="value">
          {{ type.type.name | titlecase }}
        </span>
      </div>

      <div class="section">
        <div class="section-title">Capacités</div>
        <span *ngFor="let ability of pokemonDetails.abilities" class="value">
          {{ ability.ability.name | titlecase }}
        </span>
      </div>

      <div class="section">
        <div class="section-title">Statistiques</div>
        <div *ngFor="let stat of pokemonDetails.stats">
          <span class="label">{{ stat.stat.name | titlecase }}:</span>
          <span class="value">{{ stat.base_stat }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
