<div *ngIf="pokemonId">
    <div class="container">
      <ng-container *ngIf="pokemonDetails$ | async as pokemonDetails">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ pokemonDetails.name | titlecase }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img [src]="pokemonDetails.sprites.front_default" alt="{{ pokemonDetails.name }}" />
            <p><strong>ID:</strong> #{{ pokemonDetails.id }}</p>
            <p><strong>Height:</strong> {{ pokemonDetails.height / 10 }} m</p>
            <p><strong>Weight:</strong> {{ pokemonDetails.weight / 10 }} kg</p>
            <p><strong>Types:</strong>
              <span *ngFor="let type of pokemonDetails.types">
                {{ type.type.name | titlecase }} 
              </span>
            </p>
            <p><strong>Abilities:</strong>
              <span *ngFor="let ability of pokemonDetails.abilities">
                {{ ability.ability.name | titlecase }}
              </span>
            </p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
  